@import "./src/components/scss/Color";

.login {
  position: absolute;
  padding-top: 7%;
  margin-left: 35%;
  width: 30%;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
  }

  .container {
    .login_form {
      * {
        margin-bottom: 4%;
      }
    }
  }
}