@import "./src/components/scss/Color";

.Home {
  position: absolute;
  padding-top: 10%;
  margin-left: 35%;
  width: 30%;
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
  }

  .container {
    .login_form {
      * {
        margin-bottom: 4%;
      }
    }
  }
}