$blue: #228ae6;
$sky-blue: #5db0f0;
$gray: #626563;
$blue-gray: #b3d1d9;
$green: #009a49;
$green-black: #1e3d33;
$red: #f4483f;
$pink-light: #ffc0cb;
$pink-dark: #dd0087;
$purple: #ab59f5;;
$purple-light: #d4bcea