@import "Color";

.PasswordLayer {
  display: none;
  visibility: hidden;
  opacity: 1;
  position: absolute;
  right: 0;
  z-index: 10;
  width: 60%;
  padding: 10px 25px 25px;
  background: #fff;
  border: 1px solid $blue;
  border-radius: 2%;
  box-shadow: 0 1px 5px 0 #00000061;

  &[display="true"] {
    display: block;
    visibility: visible;
  }

  //&::before {
  //  display: block;
  //  content: '';
  //  //position: absolute;
  //  left: -19px;
  //  top: 0;
  //  z-index: 5;
  //  border: 10px solid #fff;
  //  border-left-color: transparent;
  //  border-bottom-color: transparent;
  //}
  //
  //&::after {
  //  display: block;
  //  content: '';
  //  //position: absolute;
  //  left: -22px;
  //  top: -1px;
  //  border: 11px solid $purple;
  //  border-left-color: transparent;
  //  border-bottom-color: transparent;
  //}

  ol, ul {
    list-style: none;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
  }

  li {
    position: relative;
    margin-top: 15px;
    padding-left: 27px;
    font-size: 13px;
    color: $blue-gray;
    line-height: 1.2;
    transition: all .2s ease-out;

    &::before {
      //display: block;
      //content: '';
      //position: absolute;
      //left: 2px;
      //top: 0;
      //z-index: 5;
      //width: 14px;
      //height: 11px;
      ////background: url(images/iconPwCheck.png) no-repeat left top;
      //transition: all .2s ease-out;

      display: block;
      content: '';
      position: absolute;
      left: -2px;
      top: 1px;
      width: 14px;
      height: 14px;
      background: lighten($sky-blue, 25%);
      border-radius: 50%;
      transform: scale(0.6);
      transform-origin: 50% 50%;
      transition: all .2s ease-out;
    }

    &::after {
      display: block;
      content: '';
      position: absolute;
      left: -2px;
      top: 1px;
      width: 14px;
      height: 14px;
      background: $sky-blue;
      border-radius: 50%;
      transform: scale(0);
      transform-origin: 50% 50%;
      transition: all .2s ease-out;
    }

    &[status="success"] {
      color: darken($sky-blue, 10%);

      &::after {
        transform: scale(1);
      }
    }
  }

  .labelMsg {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 3px 6px;
    font-size: 13px;
    transition: all .2s ease-in-out;

    .error, &[status="error"] {
      display: block;
      opacity: 1;
      color: $pink-dark;
      background: lighten($pink-light, 10%);

      &::before {
        display: inline-block;
        //content: url(images/labelMsgError.png);
        margin-right: 5px;
        vertical-align: middle;
      }
    }
  }
}